%h2
  = Date::DAYNAMES[@lyche_opening_hours.day_number]
= semantic_form_for @lyche_opening_hours do |f|
  = f.inputs do
    = f.input :open_lyche, as: :time_picker
    = f.input :close_lyche, as: :time_picker
    = f.input :open_kitchen, as: :time_picker
    = f.input :close_kitchen, as: :time_picker


  = f.actions do
    = f.submit "Oppdater tid"

= link_to "Tilbake", sulten_lyche_opening_hours_path
