.blog-preview
  .where
    #{blog.author.full_name}&mdash;#{l blog.publish_at, format: :long}

  = link_to blog do
    = background_image_helper "picture", blog.image_or_default, size: :medium

  %h2
    = link_to blog.title, blog

  :markdown
    #{blog.lead_paragraph}
