%table
  %thead
    %th= t('events.title')
    %th= t('blogs.admin_applet.written_by')
    %th= t('blogs.admin_applet.created_by')
    %th= t('blogs.admin_applet.updated_at')
    %th= t('blogs.admin_applet.published')
    %th= t('blogs.admin_applet.published_at')
    %th
    %th
  %tbody
    - @articles.each do |article|
      %tr
        %td
          = link_to article.title, article
        %td
          = "#{article.author.fornavn} #{article.author.etternavn}"
        %td
          = article.created_at
        %td
          = article.updated_at
        %td
          = article.published
        - if article.publish_at?
          %td
            = article.publish_at
        - else
          %td
            = t('blogs.admin_applet.no_time_certified')

        %td
          = link_to t("crud.edit"), edit_blog_path(article)
        %td
          - if permitted_to? :destroy, article
            = link_to t("crud.destroy"), article, confirm: t("events.confirm_delete"), method: :delete
