= content_for :banner_image do
  .banner
    #banner-image-link
      .banner-image{ style: "background-image: url(#{asset_path('blog/studenterbloggen.jpg')})" }
        .container
          .image-text.left
            .wrapper
              .front-elem.where{ style: "color: #5F6C9F" }
                = t('layouts.application.samfundets')
            .wrapper
              .front-elem.date{ style: "color: #5F6C9F" }
                = t('layouts.application.menu.blog')

- if permitted_to? :manage, :blogs
  .admin-choices
    %ul
      %li
        = link_to t("crud.create"), new_blog_path
      %li
        = link_to t("blog.admin"), admin_blogs_path

= cache cache_key_for_blogs_index(@articles) do
  .blog-previews
    = render @articles
