%table
  %th
    = t("sulten.reservation.table")
  %td
    = @table.number
  %tr
    %th
      = t("sulten.table.capacity")
    %td
      = @table.capacity
  %tr
    %th
      = t("sulten.table.comment")
    %td
      = @table.comment
  %tr
    %th
      = t("sulten.table.available")
    %td
      - if @table.available
        = t("formtastic.yes")
      - else
        = t("formtastic.no")
%p
  = link_to t("crud.edit"), [:edit, @table]
  = link_to t("crud.destroy"), @table, method: :delete, data: {confirm: t("crud.confirm")}
  = link_to t("common.back"), sulten_tables_path
