- set_title "#{@job_application.applicant.full_name} - #{t('jobs.view_application')}"

.section
  .content
    %h2.applicant_name
      = @job_application.applicant.full_name
    .information
      = facebook_search_link(@job_application.applicant)
      %table
        %tr
          %td= t('interviews.applicant_phone_number')+ ":"
          %td= @job_application.applicant.phone
        %tr
          %td= t('interviews.applicant_email_address')+ ":"
          %td= @job_application.applicant.email
        %tr
          %td= t('interviews.applicant_campus')+ ":"
          %td=@job_application.applicant.campus
      /%p.subtitle
      / 'job_applications.applicant_for' contains HTML, hence html_safe
      /= t('job_applications.applicant_for', job: link_to(@job_application.job.title, admissions_admin_admission_group_job_path(@job_application.job.admission, @job_application.job.group, @job_application.job)), group: @job_application.job.group.name).html_safe

    %h3= t('job_applications.application')
    != simple_format(html_escape(@job_application.motivation))
  .log
    %h3= t('job_applications.log_entries.log_entries')
    %p= t('job_applications.log_entries.description')
  = semantic_form_for [:admissions_admin, @job_application.job.admission, @job_application.job.group, @job_application.applicant, LogEntry.new] do |form|
    %input{ type: :hidden, name: :job_application_id, value: @job_application.id }
    = form.inputs do
      != form.input :log, as: :select, collection: @possible_log_entries
    = form.actions do
      != form.action(:submit)

  - unless @log_entries.empty?
    %table
      %thead
        %tr
          %th= t('job_applications.log_entries.date_and_time')
          %th= t('job_applications.log_entries.entry')
          %th= t('job_applications.log_entries.logged_by')
          %th &nbsp;
      - @log_entries.each_with_index do |log_entry, index|
        %tr
          %td
            = log_entry.created_at
          %td
            = log_entry.log
          %td
            = log_entry.member.full_name
          %td
            = link_to t('crud.destroy').humanize, [:admissions_admin, @job_application.job.admission,
            @job_application.job.group, @job_application.applicant, log_entry], method: "delete", confirm: t('crud.confirm')

  .soknader
    %h3= t('job_applications.applications')
    %table
      %thead
        %tr
          %th= t('job_applications.priority')
          %th= t('job_applications.job')
          %th= t('job_applications.group')
          %th= t('job_applications.status')
          %th= t('job_applications.interview_time')
      %tbody
        - @job_application.applicant.job_applications.select {|application| application.job.admission == @job_application.job.admission}.each_with_index do |job_application, index|
          %tr{ class: [job_application == @job_application ? 'current' : 'other', job_application.assignment_status] }
            %td.priority
              #{index + 1}.
            %td
              - if job_application != @job_application && permitted_to?(:show, job_application, context: :admissions_admin_job_applications)
                = link_to admissions_admin_admission_group_job_job_application_path(job_application.job.admission, job_application.job.group, job_application.job, job_application) do
                  = job_application.job.title
              - else
                = job_application.job.title
            %td
              = group_link(job_application.job.group)
            %td
              = job_application.find_or_create_interview.acceptance_status_string
            %td
              - if job_application.find_or_create_interview.time.nil?
                = t('job_applications.not_set')
              - else
                = job_application.find_or_create_interview.time
    %p
      = link_to admissions_admin_admission_group_job_path(@job_application.job.admission, @job_application.job.group, @job_application.job) do
        = "« #{T('common.back')}"

