= form_tag applicants_login_path, method: :post, class: "custom-form", id: "applicant_login_form" do

  %h3
    = t("applicant_sessions.forms.login.heading")

  = hidden_field_tag "redirect_to", html_escape(redirect_to) if local_assigns[:redirect_to]

  %p
    != text_field_tag "applicant_login_email", html_escape(local_assigns[:applicant_login_email]),
      size: login_text_input_width,
      class: 'textfield',
      placeholder: t("applicant_sessions.forms.login.applicant_login_email"),
      required: true

  %p
    != password_field_tag "applicant_login_password", nil,
      class: 'textfield',
      size: login_text_input_width,
      placeholder: t("sessions.password"),
      required: true

  %p
    != submit_tag t("applicant_sessions.forms.login.submit"), id: "applicant_login",
      disable_with: t("sessions.login_wait")

  %p.quiet
    =link_to forgot_password_path do
      - t("applicant_sessions.forms.login.forgot_password")
