%h2
  = t("helpers.models.sulten.all", :n => t("helpers.models.sulten.reservation.other"))
- @reservations.group_by {|i| i.reservation_from.to_date }.each do |date, f|
  %h2
    = date
  %table
    %th
      = t("sulten.reservation.name")
    %th
      = t("sulten.reservation.time")
    %th
      = t("sulten.reservation.people")
    %th
      = t("sulten.reservation.reservation_type")
    %th
      = t("sulten.reservation.table")
    - f.each do |k|
      %tr
        %td
          = link_to k.name, k
        %td
          #{k.reservation_from.strftime("%H:%M")} - #{k.reservation_to.strftime("%H:%M")}
        %td
          = k.people
        %td
          = k.reservation_type
        %td
          = link_to k.table.number, k.table
        %td
          = link_to t("crud.edit"), [:edit, k]
        %td
          = link_to t("crud.destroy"), k, method: :delete, data: {confirm: t("crud.confirm")}
- if @reservations.empty?
  = t("sulten.reservation.no_reservations")
%p
  = link_to t("common.back"), sulten_admin_path
