
%h2= t("sulten.reservation.form.title")
%p
  = t("sulten.reservation.form.intro1")
%p
  = t("sulten.reservation.form.intro2")
%p
  = t("sulten.reservation.form.intro3")
  <a href="mailto:lyche@samfundet.no">Lyche.</a>
= semantic_form_for @reservation do |f|
  = f.inputs do
    = f.input :people, label: t("sulten.reservation.people"),as: :number
    %li
      %p.inline-hints
        = t("sulten.reservation.form.too_many")
        = mail_to "lyche@samfundet.no", "mail."
    = f.input :reservation_from, placeholder: t("sulten.reservation.placeholder_date"), label: t("sulten.reservation.form.from"), input_html: { class: "datetimepicker_lyche"}, as: :string
    = f.input :reservation_duration, label: t("sulten.reservation.form.duration"), collection: [30, 60, 90, 120], member_label: proc{|d| "#{d} minutter"}, include_blank: false
    = f.input :name, label: t("sulten.reservation.name")
    %li
      %p.inline-hints
        = t("sulten.reservation.form.type_explanation")
    = f.input :reservation_type, label: t("sulten.reservation.reservation_type"), include_blank: false
    = f.input :telephone, label: t("sulten.reservation.telephone")
    = f.input :email, label: t("sulten.reservation.email")
    = f.input :allergies, label: t("sulten.reservation.allergies")
  = f.actions do
    = f.submit t("sulten.reservation.form.create")
