%h2= t("sulten.reservation.form.title")
%p
  = t("sulten.reservation.form.intro1")
%p
  = t("sulten.reservation.form.intro2")
%p
  = t("sulten.reservation.form.intro3")
  <a href="mailto:lyche@samfundet.no">Lyche.</a>
%div{"ng-app"=>"reservation", "ng-controller"=>"ReservationCtrl", id: "ngId"}
  = semantic_form_for @reservation, html: {"name" => "form", "ng-submit"=>"onSubmit($event)", "formtastic-inline-errors"=>"" } do |f|
    = f.inputs do
      = f.input :people, label: t("sulten.reservation.people"),as: :number, input_html: { "ng-model"=>"reservation.people"}
      %li
        %p.inline-hints
          = t("sulten.reservation.form.too_many")
          = mail_to "lyche@samfundet.no", "mail."
      = f.input :name, label: t("sulten.reservation.name"), input_html: { "ng-model"=>"reservation.name" }
      %li
        %p.inline-hints
          = t("sulten.reservation.form.type_explanation")

      = f.input :reservation_type, label: t("sulten.reservation.reservation_type"), include_blank: false, input_html: { "ng-model"=>"reservation.reservationTypeId"}

      = f.input :telephone, label: t("sulten.reservation.telephone"), input_html: { "ng-model"=>"reservation.telephone" }

      = f.input :email, label: t("sulten.reservation.email"), input_html: { "ng-model"=>"reservation.email", :formtasticInlineErrors => true }

      = f.input :allergies, label: t("sulten.reservation.allergies"), input_html: { "ng-model"=>"reservation.allergies" }

      = f.input :reservation_duration, label: t("sulten.reservation.form.duration"), collection: [30, 60, 90, 120], member_label: proc{|d| "#{d} minutter"}, include_blank: false, input_html: { "ng-model"=>"reservation.reservationDuration"}

      %li
        %p.inline-hints
          = t("sulten.reservation.form.not_today")
      = f.input :reservation_from, label: t("sulten.reservation.form.from"), input_html: { class: "datetimepicker_lyche", "ng-model"=>"reservation.reservationFrom"}, as: :string
    = f.actions do
      %input{:type=>"submit", :value=>"Choose time of day"}
      %div{:autoscroll => "false", "ui-view" => "modal"}
