%h2= t("sulten.reservation.form.title")
%p
  = t("sulten.reservation.form.intro1")
%p
  = t("sulten.reservation.form.intro2")
%p
  = t("sulten.reservation.form.intro3")
  <a href="mailto:lyche@samfundet.no">Lyche.</a>

%div{"ng-app"=>"reservation", "ng-controller"=>"ReservationCtrl"}
  %form{:class=>"simple-form"}
    %br
      %p= t("sulten.reservation.people")
      %input{:type=>"number", "ng-model"=>"reservation.people"}
    %br
      %p= t("sulten.reservation.name")
      %input{:type=>"text", "ng-model"=>"reservation.name"}
    %br
      %select{"ng-model"=>"reservation.reservationTypeId", :name=>t("sulten.reservation.reservation_type")}
        - @reservationTypes.each do |t|
          %option{"value"=>t.id}
            = t.name
    %br
      %p= t("sulten.reservation.telephone")
      %input{:type=>"tel", "ng-model"=>"reservation.telephone"}
    %br
      %p= t("sulten.reservation.email")
      %input{:type=>"email", "ng-model"=>"reservation.email"}
    %br
      %p= t("sulten.reservation.from")
      %input{:class=>"datetimepicker_lyche", "ng-model"=>"reservation.reservationFrom", :label=> t("sulten.reservation.form.from")}
    %br
      %p= t("sulten.reservation.duration")
      %select{"ng-model"=>"reservation.reservationDuration", :name=>t("sulten.reservation.form.duration")}
        - [30,60,90,120].each do |t|
          %option{"value"=>t}
            = t
    %br
      %p= t("sulten.reservation.allergies")
      %input{:type=>"text", "ng-model"=>"reservation.allergies"}
    %br
      Ledige tider:
      %u1
        %li{"ng-repeat"=>"period in available_periods"}
          %button{"ng-click"=>"save(period)"}
            {{period.substring(11,16)}}
