= semantic_form_for applicant, html: { class: 'soon-to-be-default-styling' } do |form|
  = form.semantic_errors :applicant
  %h4
    = t("applicants.forms.edit.heading")

  != hidden_field_tag "redirect_to", html_escape(@redirect_to) if @redirect_to

  = form.inputs name: t("applicants.forms.register.personal_information") do
    != form.input :firstname
    != form.input :surname
    != form.input :phone

  = form.inputs name: t("applicants.forms.register.login_information") do
    != form.input :email
    != form.input :password, input_html: { value: "" }
    != form.input :password_confirmation, input_html: { value: "" }
    != form.input :old_password, input_html: { value: "" }

  = form.inputs name: t("applicants.forms.register.extra_information") do
    .select
      != form.input :interested_other_positions, as: :select, hint: t("applicants.interested_other_positions_hint")

  = form.actions do
    != submit_tag t("applicants.forms.edit.submit")
