= semantic_form_for applicant, url: change_password_path(applicant) do |form|
  %h4
    = t("applicants.forms.reset_password.heading")

  != hidden_field_tag "next", @next if @next
  != hidden_field_tag "hash", hash
  
  = form.inputs do
    != form.input :password, input_html: { value: "" }
    != form.input :password_confirmation, input_html: { value: "" }

  = form.actions do
    != submit_tag t("applicants.forms.reset_password.submit"), id: "applicant_reset_password"
