= semantic_form_for @group do |form|
  = form.inputs do
    != form.input :name
    != form.input :abbreviation
    != form.input :page, member_label: :name
    != form.input :website
    != form.input :group_type
  = form.actions do
    != form.action :submit
