- if group.page
  = link_to group.page, rel: 'tooltip' do
    = abbreviate_long_name(group, limit: options[:abbreviate_treshold])
  .tooltip
    - if group.short_description.present?
      = group.short_description
    - else
      = group
- else
  = abbreviate_long_name(group, limit: options[:abbreviate_treshold])
