%h2= set_and_return_title(t("groups.admin.title"))

.section
  - @group_types.each do |type|
    %h2
      :markdown
        #{type.description}
    %table
      %tr
        %th
          Gjeng
        %th
          Forkortelse
        %th
          Webside
        %th
          &nbsp;
      - type.groups.each do |group|
        %tr
          %td
            = link_to group.name, group.page
          %td
            - unless group.abbreviation.nil? || group.abbreviation.empty?
              = group.abbreviation
            - else
              %em
                Ingen kjent forkortelse eksisterer.
          %td
            = group.website
          %td
            - if permitted_to?(:update, group)
              = link_to edit_group_path(group) do
                Redigér gjeng
  - if permitted_to?(:create, :groups)
    %p
      = link_to new_group_path, {class: "sexybutton sexysimple sexyred"} do
        Opprett gjeng
