#job-application
  = form_for @job_application do |f|
    #apply-description
      %h3= @already_applied ? t('job_applications.forms.edit.heading') : t('job_applications.forms.new.heading')

      %p
        = t('job_applications.forms.new.motivational_question')
      %p
        = t('job_applications.forms.new.application_explanation')
      %p
        = t('job_applications.forms.new.prioritation_explanation')

    != f.hidden_field :job_id, value: @job_application.job_id
    .textarea-wrapper
      %p
        = f.text_area :motivation, id: "motivation", value: (@already_applied ? nil : @job.default_motivation_text)
      %p.submit-button-container
        = submit_tag (@already_applied and !@job_application.withdrawn) ? t('job_applications.forms.edit.submit') : t('job_applications.forms.new.submit')

- if @already_applied and !@job_application.withdrawn
  = link_to @job_application, { method: :delete, style:"position:relative; top:-53px; left:180px", class: "sexybutton sexysimple sexyred", id: "delete_job_application", confirm: t('crud.confirm') } do
    = t('job_applications.forms.edit.withdraw')
