.section
  %p
    = link_to t("admissions_admin.show_interested_other_positions"), admissions_admin_admission_show_interested_other_positions_path(@admission)
.section
  %h2= set_and_return_title T('admissions.my_groups')
  %ul
    - @my_groups.sort.each do |group|
      %li
        = link_to admissions_admin_admission_group_path(@admission, group) do
          = group.name
    - if @my_groups.empty?
      %li
        %p= t('admissions.no_groups')
