%h2
  Oppdater anledning

= semantic_form_for @type do |f|
  = f.inputs do
    = f.input :name, label: "Navn:"
    = f.input :description, label: "Beskrivelse:"
    = f.input :needs_kitchen, label: "Krever kjøkken:"
  = f.actions do
    = f.submit "Oppdater anledning"
