= semantic_form_for @type do |f|
  = f.inputs do
    = f.input :name, label: t("sulten.reservation_type.name")
    = f.input :description, label: t("sulten.reservation_type.description")
    = f.input :needs_kitchen, label: "Krever kjøkken:"
  = f.actions do
    = f.submit t("formtastic.create", :model => t("helpers.models.sulten.reservation_type.one"))
