%table
  %th
    = t("sulten.reservation_type.name")
  %td
    = @type.name
  %tr
    %th
      = t("sulten.reservation_type.description")
    %td
      = @type.description
%p
  = link_to t("crud.edit"), [:edit, @type]
  = link_to t("crud.destroy"), @type, method: :delete, data: {confirm: t("crud.confirm")}
  = link_to t("common.back"), sulten_reservation_types_path
