%table.upcoming-events
  %thead
    %tr
      %th= t("events.title")
      %th= t("events.start_time")
      %th= t("events.event_type")
      %th= t("events.organizer")
      %th= t("events.area")
  
      - if permitted_to? :edit
        %th
      - if permitted_to? :destroy
        %th

  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.title, event

        %td= l(event.start_time)

        %td= t_event_type(event)

        %td= event.organizer.name

        %td= event.area 

        - if permitted_to? :edit
          %td= link_to t("crud.edit"), edit_event_path(event)

        - if permitted_to? :destroy
          %td= link_to t("crud.destroy"), event, confirm: t("events.confirm_delete"), method: :delete
