%h2
  = t('events.purchase_callback_success.title')

%p
  = t('events.purchase_callback_success.ticket_purchased',
    refs: @references)

%table.defaultstyle
  %thead
    %tr
      %th= t('events.event')
      %th= t('events.purchase_callback_success.time')
      %th= t('events.price_group')
      %th= t('events.purchase_callback_success.on_member_card')
      %th= t('events.price')
  %tbody
    - @ticket_event_price_group_card_no.each do |ticket, event, price_group, card_no|
      %tr
        %td= event.event_name
        %td= l(event.event_time, format: :long)
        %td= price_group.price_group_name
        %td= card_no
        %td= price_group.price
  %tfoot
    %tr
      %td{ colspan: 4 }
        = t('events.purchase_callback_success.total')
      %td
        = @sum

%p
  = link_to t('events.purchase_callback_success.download_tickets'), @pdf_url

%p
  = t('events.purchase_callback_success.confirmation_mail_confirmation')
