- set_title @event.title
- set_open_graph_params({ title: @event.title, description: @event.short_description, image: asset_url(@event.image_or_default.url(:large)) })
- set_twitter_params({ card: "summary_large_image", title: @event.title, description: @event.short_description, "image:src" => asset_url(@event.image_or_default.url(:large)) })
= render 'site/banner_image', banner_event: @event

- cache cache_key_for_event_show(@event) do
  = render 'admin_choices'

  .mobile-banner
    %h2= @event

    .ribbon-image-wrapper
      = background_image_helper "banner-image", @event.image_or_default, size: :large
      = render 'events/corner_ribbon', event: @event

  .details
    %table.custom-table
      %tr
        %td= t('events.area')
        %td= area_link @event.area, @event.area_title

      %tr
        %td= t('events.organizer')
        %td= organizer_link @event

      %tr
        %td= t('time.date')
        %td= l(@event.start_time, format: :short_datetime)

      %tr
        %td= t('time.time')
        %td= from_to_string @event

      %tr
        %td= t('events.ticket')
        %td= inline_event_price @event

      %tr
        %td= t('events.age_limit')
        %td= t_event_age_limit(@event)

  .show-purchase-button
    = render "buy_button", event: @event

  .description
    %p.description-short
      = @event.short_description
    .description-long
      :markdown
        #{@event.long_description}

    %p.adaptation
      = t('events.adaptation_html', href: link_to(t('events.here'), Page.handicap_info))

    - if @event.youtube_embed.present?
      .embed-container
        = embed @event

    .social
      .social-sites
        %ul.social-element
          - if @event.facebook_link.present?
            %li
              = link_to @event.facebook_link, id: 'social-link', title: t('events.social.facebook_link_title') do
                = image_tag 'facebook_36.png', alt: 'Facebook'
          - if @event.youtube_link.present?
            %li
              = link_to @event.youtube_link, id: 'social-link', title: t('events.social.youtube_link_title') do
                = image_tag 'youtube_36.png', alt: 'Youtube'
          - if @event.soundcloud_link.present?
            %li
              = link_to @event.soundcloud_link, id: 'social-link', title: t('events.social.soundcloud_link_title') do
                = image_tag 'soundcloud_36.png', alt: 'Sound Cloud'
          - if @event.instagram_link.present?
            %li
              = link_to @event.instagram_link, id: 'social-link', title: t('events.social.instagram_link_title') do
                = image_tag 'instagram_36.png', alt: 'Instagram'
          - if @event.twitter_link.present?
            %li
              = link_to @event.twitter_link, id: 'social-link', title: t('events.social.twitter_link_title') do
                = image_tag 'twitter_36.png', alt: 'Twitter'
          - if @event.lastfm_link.present?
            %li
              = link_to @event.lastfm_link, id: 'social-link', title: t('events.social.lastfm_link_title') do
                = image_tag 'lastfm_36.png', alt: 'Last FM'
          - if @event.vimeo_link.present?
            %li
              = link_to @event.vimeo_link, id: 'social-link', title: t('events.social.vimeo_link_title') do
                = image_tag 'vimeo_36.png', alt: 'Vimeo'
          - if @event.general_link.present?
            %li
              = link_to @event.general_link, id: 'social-link', title: t('events.social.general_link_title') do
                = image_tag 'link_36.png', alt: 'Artist link'

      .spotify-box
        = render "spotify_play_box", locals: { event: @event }

    %p
      = render partial: "shared/disqus", locals: { title: @event.title }
