- set_title t("pages.history_for", name: @page.name)

%h2= t("pages.history_for", name: (link_to @page.name, @page)).html_safe

= render "admin_choices"

- (@revisions.reverse + [nil]).each_cons(2) do |current, previous|
  .revision
    .header
      .expand-button
        = link_to "##{current.version}", "#"
      .meta-info
        = l(current.created_at)
        %br
        = current.member.try(:full_name)

    .changes
      .language
        %h2= diff(previous.try(:title_no), current.title_no)
        %pre= diff(previous.try(:content_no), current.content_no)

      .language
        %h2= diff(previous.try(:title_en), current.title_en)
        %pre= diff(previous.try(:content_en), current.content_en)
