- set_title t('documents.index_title')

.cover-photo

- if permitted_to? :manage, :documents
  .admin-choices
    %ul
      - if permitted_to? :new, :documents
        %li
          = link_to t("documents.new_document"), new_document_path
      %li
        = link_to t("documents.admin"), admin_documents_path

.menu-button
  = t('layouts.application.menu.menu')

.menu
  .menu-content
    = render_page_content(Page.menu.content, Page.menu.content_type)

.content
  %h1= t('documents.index_title')
  .category-list
    - @categories.each do |category|
      = link_to category.title, anchor: category.title.parameterize

  - @categories.each do |category|
    %h2{ id: category.title.parameterize }= category.title
    
    - if category.documents.empty?
      %p= t('documents.no_documents')
    - else
      .documents_list
        %ul
          - category.documents.group_by{|d| d.publication_date.year }.each do |year, docs_by_year|
            %li
              %strong= year
              %ul
                - docs_by_year.group_by{|y| y.publication_date.month }.reverse_each do |month, docs|
                  %li
                    %strong= l(docs.first.publication_date, format: :month).humanize
                    %ul
                      - docs.reverse_each do |doc|
                        %li
                          = link_to "#{doc.title} (#{doc.publication_date})", doc.file.url
