= form_tag members_login_path, method: :post, class: "custom-form", id: "member_login_form" do
  
  %h3
    = t("member_sessions.forms.login.heading")
  
  = hidden_field_tag "redirect_to", html_escape(redirect_to) if local_assigns[:redirect_to]

  %p
    != text_field_tag "member_login_id", html_escape(local_assigns[:member_login_id]),
        class: "textfield",
        size: login_text_input_width,
        placeholder: t("member_sessions.forms.login.member_login_id"),
        required: true

  %p
    != password_field_tag "member_password", nil,
      class: "textfield",
      size: login_text_input_width,
      placeholder: t("sessions.password"),
      required: true

  %p
    != submit_tag t("member_sessions.forms.login.submit"), id: "member_login",
      disable_with: t("sessions.login_wait")
  
  %p.quiet
    %a{ href: "https://medlem.samfundet.no/account/lostpwd" }
      = t("member_sessions.forms.login.forgot_password")
