%h1
  Lyche Admin

%h2= t("helpers.models.sulten.reservation.other")
= link_to t("helpers.models.sulten.all", :n => t("helpers.models.sulten.reservation.other")), sulten_reservations_path
= link_to t("helpers.models.sulten.new", :n => t("helpers.models.sulten.reservation.one")), new_sulten_reservation_path

%h2= t("helpers.models.sulten.table.other")
= link_to t("helpers.models.sulten.all", :n => t("helpers.models.sulten.table.other")), sulten_tables_path
= link_to t("helpers.models.sulten.new_thing", :n => t("helpers.models.sulten.table.one")), new_sulten_table_path

%h2= t("helpers.models.sulten.reservation_type.other")
= link_to t("helpers.models.sulten.all", :n => t("helpers.models.sulten.reservation_type.other")), sulten_reservation_types_path
= link_to t("helpers.models.sulten.new", :n => t("helpers.models.sulten.reservation_type.one")), new_sulten_reservation_type_path
