= semantic_form_for @area, html: { class: 'custom-form' } do |f|
  .standard-hours
    = f.semantic_fields_for :standard_hours, f.object.week do |h|
      .standard-hour
        %h2= t("days.#{h.object.day}")
        = h.input :open, as: :boolean
        = h.input :open_time, as: :time_picker
        = h.input :close_time, as: :time_picker
        = h.input :day, as: :hidden
  = f.input :page, member_label: :name
  = f.actions
