= semantic_form_for @role do |form|
  = form.inputs do
    - if @role.new_record?
      != form.input :title
    != form.input :name
    != form.input :description
    != form.input :passable, as: :select, include_blank: false
    != form.input :role
    != form.input :group
  = form.actions do
    != form.action :submit
