.upcoming-blog
  = render 'front_page_lock', index: index

  .what
    = blog.author.full_name
    %br.rwd-break
    = l blog.publish_at, format: :long

  %h2
    = link_to blog.title, blog

  .ribbon-image-wrapper
    = link_to blog do
      = background_image_helper "picture", blog.image_or_default, size: :medium
      .ribbon-text-wrapper
        .ribbon.blue
          = t('layouts.application.menu.blog')

  %p.description
    = blog.lead_paragraph
