= render 'admissions_frontpage_highjack'
- set_open_graph_params({ title: t('site.index.og_title'), description: t('site.index.og_description'), image: 'https://www.samfundet.no/upload/images/image_files/000/000/166/large/fasade_hoved_fg.jpg?1414442090'})
- set_twitter_params({ card: "summary_large_image", title: t('site.index.og_title'), description: t('site.index.og_description'), 'image:src' => 'https://www.samfundet.no/upload/images/image_files/000/000/166/large/fasade_hoved_fg.jpg?1414442090'})

= render 'banner_image', banner_event: @banner_event

- content_for :banner_image do
  - if permitted_to? :manage, :front_page_locks
    - if @banner_event.try(:front_page_lock)
      = link_to edit_front_page_lock_path(@banner_event.front_page_lock), id: 'banner-image-edit' do
        = t('site.index.change_banner_lock')
    - else
      = link_to edit_front_page_lock_path(FrontPageLock::BANNER_ID), id: 'banner-image-edit'  do
        = t('site.index.add_banner_lock')

= render 'hero_unit'
= render 'mailing_list_form'
= render 'upcoming_events'

.show-more-events
  = link_to t('site.index.show_more'), events_path
