.jobs.section
  .top
    %h2= @job.title
    %p
      Stilling som
      %a{ href: '#' }= @job.is_officer ? "Funksjonær" : "Gjengmedlem"
      hos
      %a{ href: '#' }= @job.group.name


  .col.large
    .job
      %p.quiet= @job.teaser

      %p
        = link_to @job do
          - unless @already_applied
            %button.sexybutton.sexysimple.sexyorange
              Søk på denne stillingen
          - else
            %button.sexybutton.sexysimple.sexyred
              Endre på motivasjonen

      %p= @job.description

      %p
        = link_to @job do
          - unless @already_applied
            %button.sexybutton.sexysimple.sexyorange
              Søk på denne stillingen
          - else
            %button.sexybutton.sexysimple.sexyred
              Endre på motivasjonen
