= javascript_include_tag "old_samfundet/jobs_search", defer: true

.section
  %h2
    = set_and_return_title(@group.name + " - " + @admission.title)
  %p
    = t('jobs.create_job_explanation', admission: @admission.title, group: @group.name)

    %label#job-search-query
      = t('jobs.search_earlier_job_descriptions')
      %input{type: "text"}

  != render 'form'

  %p
    = link_to admissions_admin_admission_group_path(@admission, @group) do
      = "« #{t('common.back')}"
