- set_title T('job_applications.applications_for_group', group_name: @group.name)

.section
  %h2
    = @group.name
    &ndash;
    = @admission.title
  %p
    = t('admissions.group_information', group_name: @group.name,
                                        n_applications: @group.job_applications_in_admission(@admission).length,
                                        n_jobs: @group.jobs_in_admission(@admission).length,
                                        n_applicants: @group.job_applications_in_admission(@admission).map(&:applicant).uniq.length)

  %p
    != succeed '.' do
      != link_to t('admissions.show_all_applications'), applications_admissions_admin_admission_group_path(@admission, @group)
  %p
    = link_to t('admissions_admin.show_interested_other_positions'), admissions_admin_admission_show_interested_other_positions_path(@admission)

  %table
    %thead
      %tr
        %th= t('groups.job_title')
        %th= t('groups.applicants')
        %th= t('groups.job_type')
        %th
        %th
    %tbody
      - @jobs.each do |job|
        %tr
          %td
            = link_to admissions_admin_admission_group_job_path(@admission, @group, job) do
              = job.title
          %td
            = job.job_applications.count
          %td
            - if job.is_officer
              = t('common.officer')
            - else
              = t('common.group_member')
          %td
            != link_to t('groups.job_listing'), job
          %td
            - if permitted_to?(:edit, job, context: :admissions_admin_jobs)
              != link_to t('groups.edit_job'), edit_admissions_admin_admission_group_job_path(@admission, @group, job)
            - if permitted_to?(:delete, job, context: :admissions_admin_jobs) && !job.job_applications.exists?
              != link_to t('groups.delete_job'), admissions_admin_admission_group_job_path(@admission, @group, job), method: "delete", confirm: t('crud.confirm')

  - if permitted_to?(:create, Job.new(group: @group), context: :admissions_admin_jobs)
    %p
      = link_to new_admissions_admin_admission_group_job_path(@admission, @group), { class: "sexybutton sexysimple sexyred" } do
        = T('jobs.create')

  %p
    %figure
      %figcaption= t('admissions_admin.applications_by_day_for_group', group: @group.name)
      %img{ src: @applications_per_day_chart }
