%h2 Søkere som ikke får stilling, men som gjerne vil ha.
%p Søkere som er reservert må/bør klareres med gjengen som har reservert søkeren

- @applicants.each do |applicant|
  .applicant
    %h3
      = link_to applicant.full_name, applicant
      \-
      = applicant.phone
      \-
      = applicant.email
    - applicant.job_applications.each do |application|
      %p
        = application.job.title
        %strong= application.interview.acceptance_status_string

  %br

- if @applicants.blank?
  %p
    Omprioriteringsfristen er ikke ute enda, kom tilbake etter 
    = l(@admission.admin_priority_deadline)
