.section#group-types
  - admission.group_types.sort_by(&:description).each do |group_type|
    .header
      %h3= group_type.description

    .jobs
      - group_type.groups.each do |group|
        - group.jobs_in_admission(admission).sort_by(&:title).each do |job|
          .job{ id: "#{admission.to_param}/#{group.to_param}" }
            .title
              %span.bullet{ class: job.is_officer ? "officer_position" : "non_officer_position" }
              %a{ href: job_path(job) }
                = truncate job.title, length: 40
            .group
              = group_link group, abbreviate_treshold: 20
            .teaser
              #{job.teaser.first(75)}

#overlay.modal-dialog
  .contentWrap
