- set_title t('admissions.index_title')

- if @open_admissions.empty?
  != render partial: "no_open_admissions", locals: { admissions: @upcoming_admissions }
- else
  - @open_admissions.each do |admission|
    != render partial: "promo", locals: { admission: admission }
  - @open_admissions.each do |admission|
    - cache [I18n.locale, admission] do
      != render(admission)

- if permitted_to?(:manage, :admissions)
  .section
    %h2= t('admissions.closed_admissions')
    - if @closed_admissions.empty?
      %p= t('admissions.no_closed_admissions')
    - else
      %table
        %tr
          %th= t('admissions.name')
          %th= t('admissions.application_deadline')
          %th= t('admissions.priority_deadline')
          %th
            &nbsp;
          %th
            &nbsp;
        - (@upcoming_admissions + @closed_admissions).each do |admission|
          %tr
            %td= admission.title
            %td= admission.shown_application_deadline
            %td= admission.user_priority_deadline
            %td= link_to t('admissions.edit_admission'), edit_admission_path(admission)
            %td= link_to t('admissions.statistics'), statistics_admissions_admin_admission_path(admission)
    %p
      = link_to t('admissions.create_admission'), new_admission_path, {class: "sexybutton sexysimple sexyred"}
