= f.inputs name: t('events.forms.labels.images') do
  = f.input :image_id, as: :hidden, input_html: { value: Image.image_for(f.object).id, class: 'image_id_input' }
  = image_tag Image.image_for(f.object).image_file, class: 'image-preview'

  %ul
    %li= link_to t('events.forms.existing_image'), images_path, class: 'choose-image-link'
    - if permitted_to? :create, :images
      %li= link_to t('events.forms.upload_image'), new_image_path, target: 'blank'
    - else
      %li Du må kontakte layout i markedsføringsgjengen for å få lagt til nye bilder i systemet.
