.image-list
  - if @images.present?
    - @images.each do |image|
      = link_to image, class: 'image', data: { image: image.id, url: image.image_file.url } do
        = "#{image.title}, tags: (#{image.tagstring})"
        = background_image_helper 'image-archive-image', image.image_file, size: :medium
  - else
    %p= t('search.no_results')
