= semantic_form_for @image, html: { multipart: true } do |f|
  = f.inputs :general do
    = f.input :title, label: t('images.title')
    = f.input :tagstring, label: t('images.tags')

  = f.inputs :image do
    %li
      = label_tag :image_file, t('images.chose_image')
      = f.file_field :image_file

  = f.actions do
    = f.action :submit
    %li= link_to t('common.back'), images_path
