- content_for(:sub_nav) do
  %ul
    %li{active_page_class(admissions_path)}
      = link_to admissions_path do
        %span.bullet
        = t 'navigation.admission.all'

    - unless has_role?(:soker)
      %li{active_page_class(new_applicant_path)}
        = link_to new_applicant_path do
          %span.bullet
          = t 'navigation.admission.register'

    - if has_role?(:soker)
      %li{active_page_class(job_applications_path)}
        = link_to job_applications_path do
          %span.bullet
          = t 'navigation.admission.show_applications'
      %li{active_page_class(edit_applicant_path(current_user))}
        = link_to edit_applicant_path(current_user) do
          %span.bullet
          = t 'navigation.admission.edit'
    
    - if permitted_to?(:show, :admissions_admin_admissions) && !Admission.current.empty?
      %li{active_page_class(my_group_path(Admission.current.first, @group))}
        - unless Admission.current.empty?
          = link_to admissions_admin_admission_path(Admission.current.first) do
            %span.bullet
            = t 'navigation.admission.my_group'
    
    /- if permitted_to?(:create, :job_applications)
    /  %li{active_page_class(applicant_job_applications_path(current_user))}
    /    = link_to applicant_job_applications_path(current_user) do
    /      %span.bullet
    /      = t 'navigation.admission.show_applications'
    /  %li
    /    = link_to applicants_logout_path, method: :post do
    /      %span.bullet
    /      =t "sessions.logout"
    /  %li
    /    %span.bullet.category_meeting
    /    #{current_applicant.full_name}
    /- else
    /  / %li
    /  /   -link_to new_applicant_path do
    /  /     %span.bullet
    /  /     =t 'navigation.admission.register'
    /  %li
    /    = link_to applicants_login_path do
    /      %span.bullet
    /      =t "applicants.login_title"

= render template: 'layouts/application'
