!!!5
%html{ lang: I18n.locale, xmlns:"http://www.w3.org/1999/xhtml", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "https://www.facebook.com/2008/fbml"}
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title
      - unless (yield :title).blank?
        #{yield(:title)} - 
      Samfundet.no
    %link{ rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Lato" }
    %link{ rel: "icon", href: asset_path("favicon.ico") }
    = stylesheet_link_tag :application
    = render 'layouts/analytics' if Rails.env.production?
    = javascript_include_tag :application, defer: true
    = typekit_include_tag "rxg7ciu"
    = csrf_meta_tag
    %meta{ property:"og:url", content: request.base_url + request.original_fullpath}
    %meta{ property:"og:type", content:"article"}
    = yield :open_graph
    %meta{ name:"twitter:site", content:"@Samfundet"}
    %meta{ name:"twitter:creator", content:"@Samfundet"}
    = yield :twitter
    != yield :head

  %body{ class: ('dev-filter' unless Rails.env.production?) }
    #sticky-footer-wrapper
      = yield :admissions_frontpage_highjack
      - cache [I18n.locale, 'titlebar', request.fullpath, current_user, Time.current.to_date] do
        = render 'layouts/titlebar'
      = yield :banner_image

      .container
        - cache [I18n.locale, 'header', cache_key_for_standard_hours] do
          = render 'layouts/header'

        #content{ class: "#{params[:controller]} #{controller.action_name}" }
          != display_flash
          - if Rails.application.config.billig_offline
            .billig-offline
              - if I18n.locale == :no
                = Rails.application.config.billig_message_no
              - else
                = Rails.application.config.billig_message_en
          = yield

      #sticky-footer-wrapper-footer

    - cache [I18n.locale, 'footer'] do
      = render 'layouts/footer'
